html, body {
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
}

body {
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

/* top bar */
header {
    height: 3.14rem;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

header img {
    margin-left: 0.45rem;
    margin-top: 0.68rem;
    height: 2.27rem;
    width: auto;
}

nav ul li {
    display: inline-flex;
    margin-right: 1rem;
}

li a {
    color: seashell;
    text-decoration: underline;
    margin: 0.1rem;
}

/* hero image */
#mission {
    margin: 3.14rem auto 0;
    background-image: url("./img-mission-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -3.14rem;
    height: 31.8rem;
    width: 90%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.mission {
    background-color: black;
    width: 100%;
    height: auto;
}

/* featured tea */
#featured-tea {
    margin-top: 3.18rem;
}

.gallery {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 300px;
    height: 200px;
    padding: 25px;
}

figcaption {
    margin-top: 0.46rem;
}

/* location */
.locations {
    height: 22.72rem;
    width: 90%;
    background-image: url('./img-locations-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -3.18rem;
    margin: 3.17rem auto 0;
    padding-top: 50px;
}

#loc-title {
    margin-bottom: 15px;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    height: auto;
    background-color: black;
}

#bayside {
    margin-left: 40px;
    margin-right: 40px;
}

#contact {
    height: 9.09rem;
}

footer {
    text-align: left;
    margin-left: 0.91rem;
}